body {
	/* centriranje #wrapper-a */
	display: grid;
	place-items: center;
}

#wrapper {
	/* flexbox element s 20px razmakom između elemenata */
	display: flex;
	gap: 20px;
}

p,
h2 {
	font-family: sans-serif;
	padding: 8px;
}

h2 {
  color: green;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

.stupac {
	padding: 20px;
}

.stupac,
.stupac h2,
.stupac p {
	border: 1px dashed black;
}
