body {
	/* centriranje #wrapper-a bez definiranja njegove širine */
	display: grid;
	place-items: center;

	margin: 0;
}

#wrapper {
	/* css grid s 3 stupca (koja će imati jednaku širinu) i 4 retka (koja će zauzimati samo onoliko visine koliko im treba) */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	
	margin: 0 auto;
	background-color: #00F;
}

#header {
	/* #header počinje poslije linije 1 i završava prije linije 4 (cijela širina grida) */
	grid-column: 1 / 4;

	background-color: #FF0; 
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(0,0,0);
}

#header img,
#podnozje img {
	width: 940px;
}

.stupac {
	background-color: #FF0;
	margin: 20px;
	padding: 20px;
	border: 1px solid #000;
}

.stupac img {
    width: 259px;
}

#podnozje {
	/* #podnozje počinje poslije linije 1 i završava prije linije 4 (cijela širina grida) */
	grid-column: 1 / 4;

	background-color: #FF0; 
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(0,0,0);
}

p {
	/* p element počinje poslije linije 1 i završava prije linije 4 (cijela širina grida) */
	grid-column: 1 / 4;
    color: #FFF;
    text-align: center;
}
