body {
	background-color: var(--dark-1);
	display: grid;
	grid-template-columns: [page-start] 1fr [content-start] 80vw [content-end] 1fr [page-end];
	grid-template-rows: [page-start] auto [content-start] 1fr [content-end];
	
	@media screen and (max-width: 720px) {
		grid-template-columns: [page-start] 1fr [content-start] 95vw [content-end] 1fr [page-end];
	}
}

header {
	background-color: var(--dark-2);
	height: 36px;
	grid-column: page-start / page-end;
	display: grid;
	grid-template-columns: inherit;

	.container {
		grid-column: content-start / content-end;
		display: flex;
		align-items: center;

		.logo {
			height: 32px;
			border-radius: 50%;
		}

		nav {
			flex-grow: 1;
		}
	}
}

main {
	grid-column: content-start / content-end;

	p {
		max-width: 70ch;
	}
}


/* not used atm
.deco {
	position: fixed;
	height: 100%;
	z-index: -1;
}

.deco-left {
	grid-column: content-start / page-start;
}
*/
