.navigation-bar {
	// unstyle list
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	// links
	a {
		color: whitesmoke;
		display: inline-block;
		padding: 8px 12px;
		text-decoration: none;
		width: 100%;
		white-space: nowrap;

		&.disabled {
			cursor: default;
			pointer-events: none;
		}
	}

	li:hover > a {
		background-color: var(--accent-standard);
		color: black;
	}
	
	.branch {
		position: relative; // needed for position: absolute
	
		// a elements of branches/dropdowns have no page so disable them
		
		// hide all dropdowns by default
		& > ul {
			background-color: var(--dark-2);
			visibility: hidden;
			position: absolute;
			opacity: 0;
			transition: all 200ms ease-out;
		}

		// unhide on hover
		&:hover > ul {
			opacity: 1;
			visibility: visible;
		}
	}
	
	// level 1 dropdowns only
	.navigation-root {
		& > li {
			display: inline-block;
		}

		& > .branch {
			& > ul {
				display: block;
				transform: translateY(50px);
			}
			&:hover > ul {
				transform: none;
			}
			
			& > a::after {
				position: absolute;
				bottom: 2px;
				right: calc(50% - 2px);
				transform: translateX(50%);
				writing-mode: vertical-rl;
			}
			&:hover::after {
				border-top: 6px solid var(--accent-standard);
				border-left: 6px solid transparent;
				top: unset;
				bottom: -12px;
				right: 50%;
				transform: translateX(50%);
			}
		}
	}
		
	// level >1 dropdowns(rights)
	.branch {
		& > ul {
			display: inline-block;
			transform: translateX(50px);
		}

		&:hover > ul {
			transform: none;
		}

		// dropdown(right) indicator
		& > a::after {
			content: " ›";
		}
		
		// decoration hovered dropdowns(rights)
		&:hover::after {
			content: " ";
			// triangle shape
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 6px solid var(--accent-standard);
			border-right: 6px solid transparent;
			
			right: -12px;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			z-index: 1;
		}
	}
}
