@{
	ViewData[Statiq.Common.Keys.Title] = "Karlo Bistrički - Personal website";
	Layout = "_Layout.cshtml";
	/*
	eleventyNavigation:
	  key: HOME
	  parent: root
	  order: -1
	*/
}
<p>This is my personal website where I'll host some personal and school projects.</p>
