* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	display: grid;
	grid-template-columns: [start] 3fr [middle] 1fr [end];
	grid-template-rows: auto auto 1fr auto;
	margin: 0;
	background-color: #e8d475;
}

:root {
	font-family: sans-serif;
}

header {
	grid-column: start / end;
	background-image: url(logo.jpg);
	padding: 16px 48px;
}

header h1 {
	font-size: 48px;
	margin: 0;
}

header p {
	margin: 10px;
	font-size: 20px;
	letter-spacing: 8px;
	font-weight: lighter;
}

.nav {
	grid-column: start / end;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	background: url(neaktivan.gif) repeat-x;
	border-top: 1px solid white;
	display: flex;
}

.nav a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 8px 16px;
	border-right: 1px solid white;
}

.nav a.active,
.nav a:hover {
	background: url(aktivan.gif) repeat-x;
}

main {
	grid-column: start / middle;
	padding: 16px;
}

aside {
	grid-column: middle / end;
	background-color: #19a911;
	padding: 16px;
}

main h1,
aside h1 {
	margin-left: 16px;
	font-size: 20px;
	margin-top: 0;
}

main h1 {
	color: #887107;
}

aside h1 {
	margin-bottom: 4px;
}

main p,
aside p {
	text-align: justify;
	margin: 8px 0;
}

main a {
	color: green;
}

main .box {
	background-color: #cf151a;
	padding: 16px;
	margin-top: 20px;
}

main .box h1 {
	color: black;
}

aside .box {
	background-color: #4cd445;
	padding: 16px;
	margin-top: 20px;
}

aside .box a {
	color: white;
}

footer {
	grid-column: start / end;
	background-color: #d1b015;
}

footer p {
	text-align: center;
	font-size: 12px;
}

h1 {
	font-weight: 500;
}
