body {
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--dark-1);
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 1;
}

header > * {
	margin: 0px 8px;
}

header > h1 {
	color: white;
	font-size: 22px;
}

#logo {
	width: 32px;
	height: 32px;
}

header > nav.top-nav {
	flex-grow: 1;
	align-self: stretch;
}

nav.top-nav, nav.top-nav > ul {
	background-color: var(--dark-1);
}

main {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

aside.blog-nav {
	color: white;
	background-color: var(--dark-2);
	box-shadow: #0005 0px 0px 6px 4px;
	padding: 0 8px;
	width: 15%;
	min-width: 150px;
}

aside.blog-nav ul {
	padding-left: 15px;
}

aside.blog-nav a {
	color: var(--accent-light);
	text-decoration: none;
}

aside.blog-nav a:hover {
	text-decoration: underline;
}

main > article {
	background-color: white;
	box-shadow: #0005 0px 0px 6px 4px;
	flex-grow: 1;
	padding: 8px;
	margin: 0px 5%;
}

@media screen and (max-width: 480px) {
	main {
		flex-direction: column;
	}

	main > aside.blog-nav {
		width: 100%;
	}

	main > article {
		margin: 0;
		width: 100%;
	}
}