* {
	box-sizing: border-box;
}

:root {
	--accent-dark: #159957;
	--accent-light: #0FCA6C;
	--dark-1: #202020;
	--dark-2: #303030;
}

html {
	height: 100%;
}

body {
	/*background-image: linear-gradient(to bottom right, #0099FF, #00FF80);*/
	background: url("/images/background.jpg") no-repeat bottom;
	background-size: cover;
	height: 100%;
	margin: 0px;
	font-family: Helvetica, sans-serif;
}

a {
	color: var(--accent-dark);
}

a:hover {
	color: var(--accent-light);
}

code {
	font-size: 14px;
	font-family: "JetBrains Mono", Consolas, monospace;
	background-color: #00000020;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid #00000030
}

pre > code {
	padding: 4px 6px;
}