/* links */
.navigation-bar a {
	color: whitesmoke;
	display: inline-block;
	padding: 8px 12px;
	text-decoration: none;
	width: 100%;
	white-space: nowrap;
}

.navigation-bar li:hover > a {
	background-color: var(--accent-light);
	color: black;
	text-decoration: none;
}

/* the navigation bar itself */
.navigation-bar {
	background-color: var(--dark-2);
	display: flex;
	z-index: 1; /* prevents shadow dropping onto navigation bar */
}

.navigation-bar > .navigation-root {
	display: flex;
	flex-direction: row;
}

/* remove all list bullets */
.navigation-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* needed so the dropdown can be absolute and not make the navigation bar expand */
.branch {
	position: relative;
}

/* a elements of branches have no page so disable ability to click it */
.branch > a {
	cursor: default;
	pointer-events: none;
}

/* all dropdowns */
/* hide by default */
.branch > ul {
	background-color: var(--dark-2);
	visibility: hidden;
	position: absolute;
	opacity: 0;
	transition: all 200ms ease-out;
}
/* show on hover */
.branch:hover > ul {
	opacity: 1;
	visibility: visible;
}

/* level 1 dropdowns only */
.navigation-root > .branch > ul {
	display: block;
	transform: translateY(50px);
}
.navigation-root > .branch:hover > ul {
	transform: none;
}

/* level >1 dropdowns (rights) only */
.branch .branch > ul {
	display: inline-block;
	transform: translateX(50px);
}
.branch .branch:hover > ul {
	transform: none;
}

/* indicator for menus which contain another dropdown */
.branch .branch > a::after {
	content: " ›";
}

.branch .branch:hover::after {
	content: " ";
	/* triangle shape */
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid var(--accent-light);
	
	top: 11px;
	color: var(--dark-2);
	position: absolute;
}

/* invisible button to show debug/test pages */
button.debug-button {
	background: none;
	border: none;
	padding: 0;
	height: 100%;
	width: 50px;
}
