nav.navigation-bar {
	background-color: var(--dark-2);
	z-index: 1;
}

nav.navigation-bar a {
	color: white;
	display: block;
	padding: 8px 12px;
	font-size: 16px;
	text-decoration: none;
	width: 100%;
	white-space: nowrap;
}

nav.navigation-bar li:hover > a {
	background-color: var(--accent-light);
	color: black;
	text-decoration: none;
}

nav.navigation-bar ul {
	background-color: var(--dark-2);
	list-style: none;
	font-size: 0px;
	padding: 0px;
}

ul.navigation-root {
	display: inline-block;
}

ul.navigation-root > ul {
	display: inline-block;
}

ul.navigation-root > li {
	display: inline-block;
}

li.subtree {
	position: relative;
}

li.subtree > a {
	pointer-events: none;
	cursor: default;
}

li.subtree li {
	display: block;
}

li.subtree li > * {
	display: inline-block;
}

/* uncomment if specifity issues arise
li.subtree li > a {
	display: inline-block;
}
*/

li.subtree > ul {
	display: none;
	position: absolute;
}

li.subtree:hover > ul {
	display: inline-block;
}

ul.debug-navigation {
	display: none;
}

button.debug-button {
	background: none;
	border: none;
	float: right;
	padding: 0;
	height: 100%;
	width: 50px;
}
