h1 {
    background-color: rgb(20, 133, 204);
    color: #fff;
}

p.prvi {
    background-color: rgb(178, 18, 18);
    color: rgb(255, 213, 16);
}

p.prvi span {
    background-color: #f00;
}

p.drugi {
    background-color: #f00;
    color: rgb(237, 212, 22);
}

p.drugi span {
    background-color: rgb(178, 18, 18);
}

h2 {
    background-color: #ccc;
    color: rgb(20, 133, 203);
}

ul {
    background-color: rgb(255, 252, 25);
    color: rgb(182, 34, 17);
}

a {
    background-color: rgb(255, 252, 25);
    color: rgb(182, 69, 19);
}
