h1 {
    background-color: #888;
    color: rgb(211, 115, 38);
}

p.prvi {
    background-color: rgb(25, 252, 54);
}

p.prvi span {
    background-color: rgb(72, 17, 199);
    color: #fff;
}

p.drugi {
    background-color: rgb(72, 17, 199);
    color: #fff;
}

p.drugi span {
    background-color: rgb(25, 252, 54);
    color: #000;
}

h2 {
    background-color: rgb(211, 115, 18);
    color: rgb(61, 9, 172);
}

ol {
    background-color: #f80;
    color: rgb(69, 70, 38);
}

a {
    background-color: #888888;
    color: rgb(254, 128, 0);
}
