@use "sass:color";
@use "imports";

:root {
	color: white;
	background-color: black; // NOTE: body sets its own background-image, this is mainly just for easy automatic dark scrollbars
	
	--bg-100: imports.$bg-base;
	--bg-200: #{color.adjust(imports.$bg-base, $lightness: 5%)};
	--bg-300: #{color.adjust(imports.$bg-base, $lightness: 10%)};
	--bg-400: #{color.adjust(imports.$bg-base, $lightness: 15%)};
	
	--accent-600: #{color.adjust(imports.$accent-base, $lightness: 20%)};
	--accent-500: #{color.adjust(imports.$accent-base, $lightness: 10%)};
	--accent-400: #{imports.$accent-base};
	--accent-300: #{color.adjust(imports.$accent-base, $lightness: -10%)};
}
