:root {
	--color-neutral-light-100: #ffffff;
	--color-neutral-light-200: #efefef;
	--color-neutral-light-300: #dfdfdf;
	--color-neutral-light-500: #bfbfbf;
	--color-neutral-light-600: #afafaf;
	
	--color-neutral-dark-650: #3f3f3f;
	--color-neutral-dark-700: #303030;
	--color-neutral-dark-750: #282828;
	--color-neutral-dark-800: #202020;
	--color-neutral-dark-850: #181818;
	
	--color-accent-300: #b83939;
	--color-accent-400: #d34141;
}

// default to dark theme, being before the media queries is important
@supports not (prefers-color-scheme: dark) {
	:root {
		color: white;
		
		--color-ui-layer-1: var(--color-neutral-dark-850);
		--color-ui-layer-2: var(--color-neutral-dark-800);
		--color-ui-layer-3: var(--color-neutral-dark-750);
		--color-ui-layer-4: var(--color-neutral-dark-700);
		--color-border: var(--color-neutral-dark-700);
		--color-border-focus: var(--color-neutral-dark-650);
		--color-shadow: #040404;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: white;
		
		--color-ui-layer-1: var(--color-neutral-dark-850);
		--color-ui-layer-2: var(--color-neutral-dark-800);
		--color-ui-layer-3: var(--color-neutral-dark-750);
		--color-ui-layer-4: var(--color-neutral-dark-700);
		--color-border: var(--color-neutral-dark-700);
		--color-border-focus: var(--color-neutral-dark-650);
		--color-shadow: #040404;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: black;
		
		--color-ui-layer-1: var(--color-neutral-light-300);
		--color-ui-layer-2: var(--color-neutral-light-200);
		--color-ui-layer-3: var(--color-neutral-light-100);
		--color-ui-layer-4: var(--color-neutral-light-200);
		
		--color-border: var(--color-neutral-light-500);
		--color-border-focus: var(--color-neutral-light-600);
		--color-shadow: #999;
	}
}
