$bg-base: hsl(0 0% 7%);
$accent-base: hsl(138, 56%, 29%);

$padding-regular: .25rem 1rem;
$padding-large: 1rem 1.5rem;
$radius-regular: 0.5rem;

$mobile-screen-size: 768px;

@mixin grid-template-column-subgrid {
	grid-template-columns: subgrid;
	
	@supports not (grid-template-columns: subgrid) {
		grid-template-columns: inherit;
	}
}
