@use "imports";

body {
	--content-width: 70rem;
	
	display: grid;
	grid-template-columns: [page-start] minmax(1rem, 1fr) [content-wide-start] 1fr [content-start] minmax(0, var(--content-width)) [content-end] 1fr [content-wide-end] minmax(1rem, 1fr) [page-end];
	grid-auto-rows: auto;
	
	gap: 2rem 0;
	align-content: start; // to prevent grid from stretching all the rows to fill the screen (but still keeping the body's min-height of 100vh)
	padding-bottom: 2rem; // equal to the minimum side "padding" + gap (first and last columns of the master grid)

	$accent-sides-size: 15%;
	background-image: url(/background-pattern.png), linear-gradient(to right, var(--accent-400), hsl(0 0% 11%) #{$accent-sides-size}, hsl(0 0% 11%) calc(100% - #{$accent-sides-size}), var(--accent-400));
	background-blend-mode: multiply;
	background-attachment: fixed;
}

body > * {
	grid-column: page-start / page-end;
}

main {
	grid-column: content-start / content-end;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.columns {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 2rem;
	
	position: relative;
	
	text-align: center;
	
	ul {
		text-align: left;
	}
	
	// desktop only, smart placement for the last row of columns
	@media screen and (min-width: imports.$mobile-screen-size) {
		&.two-columns > section {
			grid-column: span 6;
		}
		
		&.two-columns > section:nth-of-type(2n - 1):last-child {
			grid-column: 4 / span 6;
		}
		
		&.three-columns > section {
			grid-column: span 4;
		}
		
		&.three-columns > section:nth-of-type(3n - 2):last-child {
			grid-column: 5 / span 4;
		}
		
		&.three-columns > section:nth-of-type(3n - 2):nth-last-of-type(2) {
			grid-column: 3 / span 4;
		}

		&.three-columns > section:nth-of-type(3n - 1):nth-last-of-type(1) {
			grid-column: 7 / span 4;
		}
	}
	
	// mobile only
	@media screen and (max-width: imports.$mobile-screen-size) {
		> * {
			grid-column: 1 / -1;
		}
		
	}
}

.two-columns {
	--column-count: 2;
}

.three-columns {
	--column-count: 3;
}
