*,
::before,
::after {
	box-sizing: border-box;
}

// smooth scrolling, except when searching with ctrl + f (page goes out of focus)
html:focus-within {
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeLegibility;
	margin: 0;
	min-height: 100vh;
}

img,
picture {
	max-width: 100%;
	display: block;
}
