@use "base";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700&display=swap');

:root {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 2rem; // 32px
}
h2 {
	font-size: 1.75rem; // 28px
}
h3 {
	font-size: 1.5rem; // 24px
}
h4 {
	font-size: 1.25rem; // 20px
}
h5 {
	font-size: 1.125rem; // 18px
}
h6 {
	font-size: 1rem; // 16px
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}
