li.heart-marker {
	list-style-type: none;
	position: relative;
	
	&::before {
		content: "♥";
		filter: saturate(0) brightness(2); // in some browsers the glyph above becomes a red heart emoji, this turns it white
		
		position: absolute;
		right: calc(100% + 6px);
	}
}

.center {
	text-align: center;
}
