h1 {
	font-family: sans-serif;
	font-weight: 400;
	text-align: center;
}

.over {
	text-decoration: overline;
}

.trough {
	text-decoration: line-through;
}

p {
	text-indent: 50px;
}

p.prvi {
	word-spacing: 15px;
	text-align: right;
	line-height: 2em;
}

p.drugi {
	font-weight: 700;
	letter-spacing: 5px;
}
