body {
	border: 16px solid yellow;
}

h1 {
	font-family: sans-serif;
	font-weight: 400;
	text-indent: 100px;
	margin: 8px 16px;
	border-top: 8px dashed blue;
	border-bottom: 8px dashed red;
	border-left: 16px solid green;
	border-right: 16px double purple;
}

p.prvi {
	letter-spacing: 5px;
	word-spacing: 5px;
	line-height: 2.5em;
	padding: 20px;
	margin: 0 100px 0 0;
	border-top: 8px dashed blue;
	border-bottom: 8px dashed red;
	border-right: 16px solid green;
	border-left: 16px double purple;
}

p.drugi {
	word-spacing: 15px;
	line-height: 1.5em;
	margin: 0 0 20px 100px;
	border-top: 8px dashed blue;
	border-bottom: 8px dashed red;
	border-left: 16px solid green;
	border-right: 16px double purple;
}
