<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/styles/global.css">
	<link rel="stylesheet" href="/styles/top-nav-style.css">
	<link rel="stylesheet" href="/styles/minimal-layout-style.css">
	<!-- site specific styles-->
	{% for stylesheet in stylesheets %}
	<link rel="stylesheet" href="/styles/{{stylesheet}}">
	{% endfor %}
	<!-- site specific scripts-->
	{% for script in scripts %}
	<script src="/scripts/{{ script }}"></script>
	{% endfor %}
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<img src="/images/logo.png" alt="logo" id="logo">
		<h1>{{ title }}</h1>
		<nav class="top-nav">
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
				listClass: "nav-root",
				listItemHasChildrenClass: "subtree"
			}) | safe }}
		</nav>
	</header>

	<main>
		<article>
			{{ content | safe }}
		</article>
	</main>
</body>

</html>