<nav class="navigation-bar">
	{{ collections.all | eleventyNavigation("root") | eleventyNavigationToHtml({
		listClass: "navigation-root",
		listItemHasChildrenClass: "subtree"
	}) | safe }}{{
		collections.all | eleventyNavigation("debug") | eleventyNavigationToHtml({
		listClass: "navigation-root debug-navigation",
		listItemHasChildrenClass: "subtree"
	}) | safe }}
	<button class="debug-button" onclick="toggleDebugNav()"></button>
	<script src="/scripts/navigation-bar.js"></script>
</nav>
