<nav class="top-nav">
	{{ collections.all | eleventyNavigation("root") | eleventyNavigationToHtml({
		listClass: "nav-root",
		listItemHasChildrenClass: "subtree"
	}) | safe }}{{
		collections.all | eleventyNavigation("debug") | eleventyNavigationToHtml({
		listClass: "nav-root debug-nav",
		listItemHasChildrenClass: "subtree"
	}) | safe }}
	<button class="debug-button" onclick="toggleDebugNav()"></button>
	<script src="/scripts/top-nav-script.js"></script>
</nav>
